.App{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.app__title{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    font-size: 700;
}

.card-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

}