/*------ Reset -----*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --background-body: #06292E;
    --background-color: #062226;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    background-color: var(--background-body);
    color: whitesmoke;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    padding-left: 0;
    list-style: none;
}

img{
    display: block;
}

button{
    border: nome;
}

input{
    outline: none;
}